// Application-level settings for the Runner target.

// The application's name. By default this is also the title of the Flutter window.
PRODUCT_NAME = assignment

// The application's bundle identifier
PRODUCT_BUNDLE_IDENTIFIER = com.example.assignment

// The copyright displayed in application information
PRODUCT_COPYRIGHT = Copyright © 2025 com.example. All rights reserved.
